* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: skyblue;
}

header,
main { 
  width: 80%;
  min-width: 375px;
}

main {
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
  margin-top: 35px;
}

header {
  margin-top: 80px;
}

.left-col,
.right-col {
  flex: 1;
}

.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  white-space: nowrap;
}
.add-score{
  white-space: wrap;
}

input {
  margin: 10px;
  margin-left: 0;
  padding: 20px;
  border: 1px solid #d0d0d0;
  width: 100%;
  font-size: 1.2rem;
  color: #595a5b;
  height: 40px;
}

h1,
h2{
  color: blueviolet;
}
h1{
  text-align: center;
}

button {
  background-color: blueviolet;
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 3px #000;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

button.submit {
  margin-left: 50%;
  transform: translate(-50%);
}

ul {
  list-style: none;
  border: 2px solid #000;
}

.score-list li {
  height: 35px;
  padding: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}

li > span:first-child{
  flex: 1 1 1;
}

li > span:last-child{
  flex: 2 1 auto;
  text-align: right;
}

li:nth-of-type(even) {
  background-color: blueviolet;
  color: #f7f8f8;
}

.fa-trophy{
  color: blueviolet;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 35px;
    margin-left: 50px;
  }
  h1{
    text-align: left;
  }
  button.submit{
    margin-left: 0%;
    float: right;
    transform: translate(0%);
  }

  
}
